<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">  
    </head>
    <body>
        <div class='content'>
            <div class='navbar'>   
                {{>header}}
            </div>
            <p class="about">  This site was created by Anamika Tiwari.<br> It uses data from mapbox.com and openweathermap.com <br>for getting the real-time weather of a particular location.</p>
            <img class='portrait'src="img/robo.jpg">
        </div>
        
        
        {{>footer}}
    </body>
</html>