<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
        
    </head>
    <body>
        <div class='content'>
            <div class='navbar'>
                {{>header}}
            </div>
            <p>Search the weather of your Location here:</p>
            <form>
                <div class="search">
                    <input type="text" placeholder="Location">
                    <button>Search</button>
                </div>
            </form>

            <p id="msg-1"></p>
            <p id="msg-2"></p>
        </div>
        
        
        {{>footer}}
        
        <script src="js/app.js"></script>
    </body>
</html>